<h1>Listing orders</h1>

<table>
  <tr>
    <th>Produce</th>
    <th>Category</th>
    <th>Qty</th>
    <th>Farmer</th>
    <th>Chef</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.name %></td>
    <td><%= order.category %></td>
    <td><%= order.qty %></td>
    <td><%= order.farmer.name %></td>
    <td><%= order.chef.name %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order', new_order_path %>
