<%= form_for(@produce) do |f| %>
  <% if @produce.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@produce.errors.count, "error") %> prohibited this produce from being saved:</h2>

      <ul>
      <% @produce.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :farmer_id %><br />
    <%= f.collection_select :farmer_id, Farmer.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :cost %><br />
    <%= f.text_field :cost %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :qty %><br />
    <%= f.number_field :qty %>

    <select name="produce[qtytype]">
      <option value="ea">ea</option>
      <option value="lb">lb</option>
      <option value="bushel">bushel</option>
    </select>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
