<h1>Listing produces</h1>

<table>
  <tr>
    <th>Type</th>
    <th>Cost</th>
    <th>Name</th>
    <th>Qty</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @produces.each do |produce| %>
  <tr>
    <td><%= produce.category %></td>
    <td>$ <%= produce.cost %> / <%= produce.qtytype %></td>
    <td><%= produce.name %></td>
    <td><%= produce.qty %></td>
    <td><%= produce.qtytype %></td>
    <td><%= link_to 'Show', produce %></td>
    <td><%= link_to 'Edit', edit_produce_path(produce) %></td>
    <td><%= link_to 'Destroy', produce, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% if @chef_id.nil? == false %>
      <td><%= link_to "Order for #{@chef.name}", "order/new?chef=#{chef.id}&produce=#{produce.id}" %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Produce', new_produce_path %> |
<%= link_to 'Show Farmers', farmers_path %> |
<%= link_to 'Show Chefs', chefs_path %>