<p id="notice"><%= notice %></p>

<p>
  <b>Farmed by:</b>
  <% if @produce.farmer.present? %>
  	<%= @produce.farmer.name %>
  <% end %>
</p>

<p>
  <b>Type:</b>
  <%= @produce.category %>
</p>

<p>
  <b>Cost:</b>
  $ <%= @produce.cost %> / <%= @produce.qtytype %>
</p>

<p>
  <b>Name:</b>
  <%= @produce.name %>
</p>

<p>
  <b>Qty:</b>
  <%= @produce.qty %>
  (<%= @produce.qtytype %>)
</p>



<%= link_to 'Edit', edit_produce_path(@produce) %> |
<%= link_to 'Back', produces_path %>
